<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset = "ISO-8859-1" />
    <link href = "css/styles.css" rel = "stylesheet"/>
    <title>Spring Boot Application</title>
</head>
<body>
    <table th:each="student : ${students}">
        <tr th:object="${student}   ">
            <td th:text="'ID: ' + *{id}"></td>
            <td th:text="'Name: ' + *{name}"></td>
            <td th:text="'Number' + *{phoneNumber}"></td>
            <td>
                <form th:action="@{/teacher/unassign/{studentId}(studentId=*{id})}" method="post">
                    <button type="submit">
                        Unassign
                    </button>
                </form>
            </td>
        </tr>
    </table>


</body>